# Ignore artifacts:
build
coverage
dist
node_modules

# Ignore specific files:
src/assets/*

# Ignore all HTML files in a specific directory:
public/**/*.html

# Ignore specific file types:
*.min.js
*.map
*.snap

# Ignore all files in a specific directory except a few:
!src/
src/**/*.test.js
src/**/*.test.ts
