<div
  class="relative bg-transparent border border-base-300/40 border-b border-b-primary/40 shadow-md rounded-md break-all"
>
  <div class="absolute left-1/2 transform -translate-x-1/2 -bottom-5">
    <button
      (click)="addToCartHandler(product)"
      class="p-1 bg-primary/70 hover:bg-primary rounded-full text-base-100 transition-all cursor-pointer shadow-md"
    >
      Add
    </button>
  </div>
  <div class="w-full flex flex-col text-primary">
    <div class="group relative">
      <img
        [src]="product?.image"
        class="w-full h-52 object-contain border border-primary/30 rounded-sm"
      />
      <div
        class="absolute z-10 inset-0 w-full h-full bg-transparent group-hover:bg-base-200/50 transition-all"
      ></div>
      <button
        routerLink="/details/{{ product?.id }}"
        class="z-20 btn btn-circle btn-md absolute -bottom-6 left-[40%] invisible group-hover:visible group-hover:-translate-y-3/4 transition-all"
      >
        View
      </button>
    </div>

    <div
      class="hover:text-base-100 hover:bg-primary/70 {{
        middleSectionHeight
      }} overflow-hidden flex flex-col gap-1 p-2 justify-between transition-all"
    >
      <div class="flex flex-col gap-2 h-full overflow-auto">
        <div class="flex flex-col gap-1 h-full overflow-auto">
          <span class="font-semibold line-clamp-2">{{ product?.title }}</span>
          <span class="font-semibold text-sm">{{ product?.category }}</span>
          <div class="flex-grow">
            <div class="collapse" (click)="collapseHandler()">
              <input type="checkbox" />
              <div class="collapse-title flex justify-end p-2">
                <div
                  *ngIf="shouldCollapse"
                  class="icon-container cursor-pointer"
                >
                  <span
                    class="iconify"
                    data-icon="uiw:up-circle"
                    data-inline="false"
                  ></span>
                </div>
                <div
                  *ngIf="!shouldCollapse"
                  class="icon-container cursor-pointer"
                >
                  <span
                    class="iconify"
                    data-icon="uiw:down-circle"
                    data-inline="false"
                  ></span>
                </div>
              </div>
              <div class="collapse-content">
                <span class="font-semibold text-sm">{{
                  product?.description
                }}</span>
              </div>
            </div>
          </div>
        </div>

        <span class="text-sm font-semibold">{{ product?.price }}$</span>
      </div>

      <div class="flex justify-between">
        <div class="flex gap-2 items-center text-base">
          <div class="icon-container flex gap-1 items-center">
            <span
              class="iconify"
              data-icon="ic:baseline-star-rate"
              data-inline="false"
            ></span>
            <span class="text-sm">{{ product?.rating?.rate }}/10</span>
          </div>

          <div class="icon-container flex gap-1 items-center">
            <span
              class="iconify"
              data-icon="material-symbols:production-quantity-limits"
              data-inline="false"
            ></span>
            <span class="text-sm">{{ product?.rating?.count }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
