<main class="main">
  <nav
    class="flex justify-between w-full h-14 p-2 bg-primary/60 fixed top-0 z-50"
  >
    <div class="flex-grow gap-4 flex items-center justify-center">
      <a
        class="navButton"
        routerLink="/"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>
      <div class="divider divider-primary divider-horizontal"></div>
      <a
        class="navButton"
        routerLink="/cart"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
        Cart
      </a>
    </div>
    <div class="flex items-center">
      <input type="checkbox" value="darkMode" class="toggle theme-controller" />
    </div>
  </nav>
</main>

<router-outlet />
