<div
  class="bg-transparent border border-base-300/40 shadow-md text-primary-content rounded-md break-all"
>
  <div class="w-full flex flex-col gap-2">
    <img
      [src]="houseDetails?.photo"
      class="w-full h-52 object-cover border border-primary/30 rounded-sm"
    />
    <div class="h-32 overflow-auto flex flex-col gap-1 p-2 justify-between">
      <div>
        <address>
          <span>{{ houseDetails?.name }}</span
          >,

          <span>{{ houseDetails?.city }}</span
          >,

          <span>{{ houseDetails?.state }}</span>
        </address>
      </div>

      <div class="flex justify-between">
        <div class="flex gap-2 items-center text-base">
          <div *ngIf="houseDetails?.wifi" class="icon-container">
            <span
              class="iconify"
              data-icon="material-symbols:wifi"
              data-inline="false"
            ></span>
          </div>
          <div *ngIf="houseDetails?.laundry" class="icon-container">
            <span
              class="iconify"
              data-icon="streamline:hotel-laundry-solid"
              data-inline="false"
            ></span>
          </div>
          <div class="icon-container flex items-center">
            <span
              class="iconify"
              data-icon="material-symbols:production-quantity-limits"
              data-inline="false"
            ></span
            ><span>:</span>
            <span class="text-sm">{{ houseDetails?.availableUnits }}</span>
          </div>
        </div>
        <a
          *ngIf="renderLearnMoreBtn"
          class="hover:underline hover:text-primary hover:text-lg transition-all"
          [routerLink]="['/details', houseDetails?.id]"
          >Learn More</a
        >
      </div>
    </div>
  </div>
</div>
